(setq load-path (append
                 '("{{ emacs_site_lisp_path }}"
                   )
                 load-path))
;; ------------------------------------------------------------
;; http://emacswiki.org/emacs/LoadPath
;; 
;; Adding subdirectories
;; 
;; Adding a directory to the variable ‘load-path’ does not also add
;; its subdirectories. The current directory is the directory
;; containing the currently visited file, or if the current buffer
;; does not visit a file the directory from which Emacs was
;; started. To add a directory to the ‘load-path’ the current
;; directory has to be temporarily changed by binding
;; ‘default-directory’. To recursively add the sub-directories of the
;; current directory to the end of the ‘load-path’ do this:
(let ((default-directory "{{ emacs_site_lisp_path }}"))
  (normal-top-level-add-subdirs-to-load-path))
;; ------------------------------------------------------------


;; http://emacswiki.org/emacs/IndentingC
(defun my-indent-setup ()
  (c-set-offset 'arglist-intro '+)
  (c-set-offset 'arglist-close '0))


;; https://www.emacswiki.org/emacs/ExecPath
;; adding homebrew path
(setenv "PATH" (concat (getenv "PATH") ":/usr/local/bin"))
(setq exec-path (append exec-path '("/usr/local/bin")))



;;----------------------------------------------------------------------
;; https://realpython.com/blog/python/emacs-the-best-python-editor/
(require 'package)
(add-to-list 'package-archives
     '("melpa" . "http://melpa.org/packages/") t)
;; (add-to-list 'package-archives
;;       '("melpa-stable" . "https://stable.melpa.org/packages/") t)

(package-initialize)
(when (not package-archive-contents)
(package-refresh-contents))

(defvar myPackages
'(better-defaults
  elpy
  flycheck
  material-theme))

(mapc #'(lambda (package)
  (unless (package-installed-p package)
    (package-install package)))
    myPackages)

;; (setq inhibit-startup-message t) ;; hide the startup message
;; (load-theme 'material t) ;; load material theme
;; (global-linum-mode t) ;; enable line numbers globally

(elpy-enable)

(if (eq system-type 'darwin)
    (setq python-shell-interpreter "/usr/local/bin/python3"
          elpy-rpc-python-command "/usr/local/bin/python3")
  (setq python-shell-interpreter "/usr/bin/python3"
        elpy-rpc-python-command "/usr/bin/python3")
  )
(setq python-shell-interpreter-args "-m IPython --simple-prompt -i")
  
(when (require 'flycheck nil t)
  (setq flycheck-python-flake8-executable "python3"
        elpy-modules (delq 'elpy-module-flymake elpy-modules))
  (add-hook 'elpy-mode-hook 'flycheck-mode))
;;----------------------------------------------------------------------

;; http://stackoverflow.com/a/5607866
(require 'uniquify)
(setq uniquify-buffer-name-style 'forward)

;; ------------------------------
;; YAML mode
;; https://github.com/yoshiki/yaml-mode
(require 'yaml-mode)
(add-to-list 'auto-mode-alist '("\\.yml$" . yaml-mode))

;; https://github.com/ensime/emacs-scala-mode
(require 'scala-mode)
;(add-hook 'scala-mode2-hook 'my-indent-setup)

{% if emacs_matlab_mode_build|success: %}
;; Matlab mode
(require 'matlab-load)
{% else: %}
;; !MATLAB MODE BUILD FAILED!
{% endif %}

;; Coffescript mode
(require 'coffee-mode)
;; This gives you a tab of 2 spaces
(custom-set-variables '(coffee-tab-width 2))

;; Multicolumn 
;; https://github.com/Lindydancer/multicolumn
(require 'multicolumn)

(require 'redo)

(require 'revbufs)

;;-------------------------------------------------- 
;; http://web-mode.org/
(require 'web-mode)
(add-to-list 'auto-mode-alist '("\\.phtml\\'" . web-mode))
(add-to-list 'auto-mode-alist '("\\.tpl\\.php\\'" . web-mode))
(add-to-list 'auto-mode-alist '("\\.[agj]sp\\'" . web-mode))
(add-to-list 'auto-mode-alist '("\\.as[cp]x\\'" . web-mode))
(add-to-list 'auto-mode-alist '("\\.js[x]\\'" . web-mode))
(add-to-list 'auto-mode-alist '("\\.erb\\'" . web-mode))
(add-to-list 'auto-mode-alist '("\\.mustache\\'" . web-mode))
(add-to-list 'auto-mode-alist '("\\.djhtml\\'" . web-mode))
(add-to-list 'auto-mode-alist '("\\.j2html\\'" . web-mode))
(add-to-list 'auto-mode-alist '("\\.xml.j2\\'" . web-mode))
(add-to-list 'auto-mode-alist '("\\.html.j2\\'" . web-mode))
;; (add-to-list 'auto-mode-alist '("\\.html?\\'" . web-mode))
(setq web-mode-engines-alist
      '(("php"    . "\\.phtml\\'")
        ("blade"  . "\\.blade\\.")
        ("jinja2"  . "\\.j2html\\'")
        ("jinja2"  . "\\.j2\\'")
        )
)
(defun my-web-mode-hook ()
  (setq web-mode-markup-indent-offset 2)
  (setq web-mode-code-indent-offset 2)
  )
(add-hook 'web-mode-hook 'my-web-mode-hook)
;;--------------------------------------------------

;;--------------------------------------------------
;;
;; Markdown mode
;;
;;--------------------------------------------------
(autoload 'markdown-mode "markdown-mode"
   "Major mode for editing Markdown files" t)
(add-to-list 'auto-mode-alist '("\\.text\\'" . markdown-mode))
(add-to-list 'auto-mode-alist '("\\.markdown\\'" . markdown-mode))
(add-to-list 'auto-mode-alist '("\\.md\\'" . markdown-mode))
;;--------------------------------------------------

;;--------------------------------------------------
;;
;; F# mode
;; 
;;--------------------------------------------------
(autoload 'fsharp-mode "fsharp-mode"     "Major mode for editing F# code." t)
(add-to-list 'auto-mode-alist '("\\.fs[iylx]?$" . fsharp-mode))
(setq fsharp-ac-intellisense-enabled nil)

;;--------------------------------------------------
;;
;; C# mode
;;
;;--------------------------------------------------
(autoload 'csharp-mode "csharp-mode" "Major mode for editing C# code." t)
(add-to-list 'auto-mode-alist '("\\.cs$" . csharp-mode))
(add-hook 'csharp-mode-hook 'my-indent-setup)
;;--------------------------------------------------


;;--------------------------------------------------
;;
;; PowerShell mode
;;
;;--------------------------------------------------
;; (require 'powershell)
;; (autoload 'powershell "powershell" "Major mode for editing PowerShell scripts." t)
;; (add-to-list 'auto-mode-alist '("\\.ps1$" . csharp-mode))
;; (add-hook 'csharp-mode-hook 'my-indent-setup)


;;--------------------------------------------------
;;
;; Swift mode
;;
;;--------------------------------------------------
(require 'swift-mode)
;;--------------------------------------------------


;;--------------------------------------------------
;;
;; Dockerfile mode
;;
;;--------------------------------------------------
(require 'dockerfile-mode)
(add-to-list 'auto-mode-alist '("Dockerfile\\'" . dockerfile-mode))
;;--------------------------------------------------


;;--------------------------------------------------
;;
;; Elixir mode
;;
;;--------------------------------------------------
(require 'elixir-mode)
;;--------------------------------------------------

;;--------------------------------------------------
;;
;; Coconut mode
;;
;;--------------------------------------------------
;; (require 'coconut-mode)
;; (load-file "/path/to/coconut-mode.el")
(add-to-list 'auto-mode-alist '("\\.coco$" . python-mode))
;;--------------------------------------------------


;; --------------------------------------------------
;;
;; Java mode
;; 
;; --------------------------------------------------
;; Fix the annoying Java decorator (lack of) indentation
;; http://www.emacswiki.org/emacs/IndentingJava
(add-hook 'java-mode-hook
          (lambda ()
            "Treat Java 1.5 @-style annotations as comments."
            (setq c-comment-start-regexp "(@|/(/|[*][*]?))")
            (modify-syntax-entry ?@ "< b" java-mode-syntax-table)))

;; Set Java indents to 2 spaces
(add-hook 'java-mode-hook (lambda ()
                            (setq c-basic-offset 2)))
(add-hook 'java-mode-hook 'my-indent-setup)
;; --------------------------------------------------

;; --------------------------------------------------
;; Emacs ispell configuration for Mac
;; 
;; http://unix.stackexchange.com/a/39249
;;
;; Assumes that ispell has been installed with Homebrew
(if (eq system-type 'darwin)
    (setq ispell-program-name "/usr/local/bin/ispell")
  )
;; --------------------------------------------------


;; --------------------------------------------------
;; Annoying visual artifact on OSX
;; 
;; http://stuff-things.net/2015/10/05/emacs-visible-bell-work-around-on-os-x-el-capitan/
;; --------------------------------------------------
;; (if (eq system-type 'darwin)
;;    (
;;     ;; (setq visible-bell nil)
;;     (setq ring-bell-function
;;           (lambda ()
;;             (invert-face 'mode-line)
;;             (run-with-timer 0.1 nil 'invert-face 'mode-line))))
;;   )


;; http://emacswiki.org/emacs/UnfillRegion
(defun unfill-region (beg end)
  "Unfill the region, joining text paragraphs into a single
    logical line.  This is useful, e.g., for use with
    `visual-line-mode'."
  (interactive "*r")
  (let ((fill-column (point-max)))
    (fill-region beg end)))
;; Handy key definition
(define-key global-map "\C-\M-Q" 'unfill-region)

;; Ripped from: http://rstudio-pubs-static.s3.amazonaws.com/2246_f78ac20295054967916c7855d3610317.html
;;
;; ~/.emacs.d/init.el for cocoa emacs 24.1 (source with inline patch) on Mac OS X 10.8.2
;; Reference: http://sakito.jp/emacs/emacs24.html#ime
;;
;; Keyboard modification
;;
;; C-h for delete, C-? for help
;; http://www.emacswiki.org/emacs-en/BackspaceKey
;; (keyboard-translate ?\C-h ?\C-?)
;; (global-set-key [(control h)] 'delete-backward-char)
;; (global-set-key [(control ?)] 'help-command)
;;
;; Command key as Meta key
;; http://www.emacswiki.org/emacs/MetaKeyProblems#toc15
;; (setq mac-option-key-is-meta nil)    ; option key is also meta if commented out
;; (setq mac-option-modifier nil)
(setq mac-command-key-is-meta t)
(setq mac-command-modifier 'meta)
;; (setq mac-option-modifier 'super) ; This may be useful
;;
;; http://www.emacswiki.org/emacs/AquamacsFAQ
;; (setq mac-option-modifier 'meta) - Sets the option key as Meta (this is default)
;; (setq mac-command-modifier 'meta)    - Sets the command (Apple) key as Meta
;; (setq mac-control-modifier 'meta)    - Sets the control key as Meta
;; (setq mac-function-modifier 'meta)   - Sets the function key as Meta (limitations on non-English keyboards)

;; Added automatically by emacs
(put 'upcase-region 'disabled nil)
(put 'downcase-region 'disabled nil)

;; Bars: Menu bar & scroll bar only
;; http://www.emacswiki.org/emacs/FullScreen#toc7
(when window-system
  (menu-bar-mode t)
  (tool-bar-mode -1)
  (scroll-bar-mode t)
  )

;; default.el in Vincent Goulet's distribution
;; https://svn.fsg.ulaval.ca/svn-pub/vgoulet/emacs-modified/macos/tags/Emacs-23.3-modified-3/default.el
;;
;;; Nice options to have On by default
(when window-system
  (mouse-wheel-mode t)                ; activate mouse scrolling
  )
(global-font-lock-mode t)           ; syntax highlighting
(transient-mark-mode t)             ; sane select (mark) mode
(delete-selection-mode t)           ; entry deletes marked text
(show-paren-mode t)                 ; match parentheses
;; (add-hook 'text-mode-hook 'turn-on-auto-fill) ; wrap long lines in text mode

;; Suppress all dialog box completely, even file open dialogue. No
;; need for mouse!
;; http://www.gnu.org/s/libtool/manual/emacs/Dialog-Boxes.html
(setq use-dialog-box nil)


;; 
(setq auto-mode-alist (append '(
;;                                 ("\\xmail" . text-mode)
;;                                 ("\\.txt$" . text-mode)
;;                                 ("\\.pas$" . pascal-mode)
;;                                 ("\\.lib$" . pascal-mode)
;;                                 ("\\.c$" . c-mode)
;;                                 ("\\.java$" . c-mode)
;;                                 ("\\.C$" . c-mode)
;;                                 ("\\.cxx$" . c++-mode)
;;                                 ("\\.cpp$" . c++-mode)    
;;                                 ("\\.cc$" . c++-mode)
;;                                 ("\\.h$" . c-mode)
;;                                 ("\\.hh$" . c++-mode)
;;                                 ("\\.H$" . c++-mode)
;;                                 ("\\.ftex$" . LaTeX-mode)
;;                                 ("\\.tex$" . LaTeX-mode)
;;                                 ("\\.doc$" . plain-tex-mode)
;;                                 ("\\.bib$" . bibtex-mode)
;;                                 ("\\.Z$" . uncompress-while-visiting)
;;                                 ("\\.gz$" . uncompress-while-visiting)
;;                                 ("Makefile$" . makefile-mode)
;;                                 ("makefile$" . makefile-mode)
;;                                 (".*.emacs$" . lisp-mode)
;;                                 ("\\.lsp$" . lisp-mode)
                                ("\\.inc$" . shell-script-mode))
                              auto-mode-alist))

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; Luca de Alfaro
;; http://luca.dealfaro.org/Emacs-fill-sentence-macro
(defun fill-sentence ()
  (interactive)
  (save-excursion
    (or (eq (point) (point-max)) (forward-char))
    (forward-sentence -1)
    ;;(indent-relative t)
    (let ((beg (point)))
      (forward-sentence)
      (fill-region-as-paragraph beg (point)))
    )
  )
(global-set-key (kbd "M-j") 'fill-sentence)
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;



;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; Window management
;;
;; Useful shortcuts
;; http://stackoverflow.com/questions/2901198/useful-keyboard-shortcuts-and-tips-for-ess-r
;; C-tab to switch to other window.
;; (global-set-key [C-tab] 'other-window)
;;
;; C-tab to split or switch to other window. Book by rubikitch p74
;; http://d.hatena.ne.jp/rubikitch/20100210/emacs
(defun other-window-or-split ()
  (interactive)
  (when (one-window-p) (split-window-horizontally)) ; When there's only one window, split horizontally.
;;  (when (one-window-p) (split-window-vertically)) ; When there's only one window, split horizontally.
  (other-window 1))
(global-set-key [C-tab] 'other-window-or-split)
;; Reversal
;; http://stackoverflow.com/questions/143072/in-emacs-what-is-the-opposite-function-of-other-window-c-x-o
(global-set-key [C-S-tab] 'previous-multiframe-window)  ;; Added by K

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;====================
;;switch to buffer
;;===================
(defun yic-ignore (str)
  (or
   ;;buffers I don't want to switch to 
   (string-match "\\*Buffer List\\*" str)
   (string-match "^TAGS" str)
   (string-match "^\\*Messages\\*$" str)
   (string-match "^\\*tramp.*\\*$" str)
   (string-match "^\\*.*\\*$" str)
   (string-match "^\\*Quail.*\\*$" str)
   (string-match "^\\*Directory\\*$" str)
   (string-match "^\\*Completions\\*$" str)
   (string-match "^\\*scratch\\*$" str)
   (string-match "^\\*GNU Emacs\\*$" str)
   (string-match "^ " str)

   ;;Test to see if the window is visible on an existing visible frame.
   ;;Because I can always ALT-TAB to that visible frame, I never want to 
   ;;Ctrl-TAB to that buffer in the current frame.  That would cause 
   ;;a duplicate top-level buffer inside two frames.
   (memq str                
         (mapcar 
          (lambda (x) 
            (buffer-name 
             (window-buffer 
              (frame-selected-window x))))
          (visible-frame-list)))
   ))

(defun yic-next (ls)
  "Switch to next buffer in ls skipping unwanted ones."
  (let* ((ptr ls)
         bf bn go
         )
    (while (and ptr (null go))
      (setq bf (car ptr)  bn (buffer-name bf))
      (if (null (yic-ignore bn))        ;skip over
   (setq go bf)
        (setq ptr (cdr ptr))
        )
      )
    (if go
        (switch-to-buffer go))))

(defun yic-prev-buffer ()
  "Switch to previous buffer in current window."
  (interactive)
  (yic-next (reverse (buffer-list))))

(defun yic-next-buffer ()
  "Switch to the other buffer (2nd in list-buffer) in current window."
  (interactive)
  (bury-buffer (current-buffer))
  (yic-next (buffer-list)))

;;end of yic buffer-switching methods
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


(normal-erase-is-backspace-mode 0)

(global-set-key [(meta 91)] 'yic-next-buffer)
(global-set-key [(meta 93)] 'yic-prev-buffer)

;;
;; git rid of annoying electric indentation
;;
;; http://emacswiki.org/emacs/AutoIndentation
(electric-indent-mode 0)
;;
(global-set-key [(control j)] 'newline-and-indent)
;; (global-set-key [(control r)] 'query-replace-regexp)
(global-set-key [(control r)] 'query-replace)

(global-set-key [(control 46)] 'redo)

(global-set-key [(control x) (control g)] 'goto-line)

(custom-set-variables
 ;; custom-set-variables was added by Custom.
 ;; If you edit it by hand, you could mess it up, so be careful.
 ;; Your init file should contain only one such instance.
 ;; If there is more than one, they won't work right.
 '(auto-compression-mode t nil (jka-compr))
 '(case-fold-search t)
 '(current-language-environment "UTF-8")
 '(default-input-method "rfc1345")
 '(indent-tabs-mode nil)
 '(inhibit-startup-screen t)
 '(visible-bell t))

(if window-system
    (custom-set-faces
     ;; custom-set-faces was added by Custom.
     ;; If you edit it by hand, you could mess it up, so be careful.
     ;; Your init file should contain only one such instance.
     ;; If there is more than one, they won't work right.
     '(default ((t (:stipple nil :background "black" :foreground "#00dd00" :inverse-video nil :box nil :strike-through nil :overline nil :underline nil :slant normal :weight normal :height 120 :width normal))))
     '(cursor ((t (:background "red"))))
     '(py-builtins-face ((t (:foreground "Yellow"))) t)
     '(py-decorators-face ((t (:foreground "cyan"))) t)
     '(py-pseudo-keyword-face ((t (:foreground "#afa"))) t))

    (custom-set-faces
     ;; custom-set-faces was added by Custom.
     ;; If you edit it by hand, you could mess it up, so be careful.
     ;; Your init file should contain only one such instance.
     ;; If there is more than one, they won't work right.
     '(minibuffer-prompt ((t (:bold t :foreground "SkyBlue"))))
     '(font-lock-builtin-face ((t (:bold t :foreground "SkyBlue"))))
     '(font-lock-variable-name-face ((t (:bold t :foreground "Yellow"))))
     '(font-lock-comment-face ((t (:foreground "#f55"))))
     '(font-lock-constant-face ((((class color) (background dark)) (:bold t :foreground "CornflowerBlue"))))
     '(font-lock-string-face ((t (:foreground "green3"))))
     '(font-lock-doc-string-face ((t (:foreground "green2"))))
     '(font-lock-function-name-face ((t (:foreground "SkyBlue"))))
     '(font-lock-keyword-face ((t (:bold t :foreground "Cyan"))))
     '(font-lock-preprocessor-face ((t (:italic nil :foreground "CornFlowerBlue"))))
     '(font-lock-reference-face ((t (:foreground "DodgerBlue"))))

     ;; Bash
     '(sh-quoted-exec ((t (:bold t :foreground "DodgerBlue"))))

     ;; Python
     '(py-builtins-face ((t (:foreground "Yellow"))) t)
     '(py-decorators-face ((t (:foreground "cyan"))) t)
     '(py-pseudo-keyword-face ((t (:foreground "#afa"))) t))
  )
